<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>v_home</title>
<link href="css/style.css" rel="stylesheet" type="text/css">
</head>
<header>
	<div class="heading">
                <div class="logo">
                    <img src="images/logox.png">
                </div>
                <ul>
                    <li class="v_home.html"><a href="#">Home</a></li>
                    <li><a href="v_katalog.html">Katalog Buku</a></li>
                    <li><a href="v_peminjaman.html">Peminjaman Buku</a></li>
                    <li><a href="v_pengembalian.html">Pengembalian</a></li>
                    <li><a href="v_p_ruangan.html">Peminjaman Ruangan</a></li>
					<li><a href="v_login.html">Login</a></li>
					<li><a href="v_regist.html">Sign Up</a></li>
                    <li><a href="#">Help</a></li>
                </ul>
            </div>
</header>
<body>
	        <div id="menu_left">
        	<div class="menu_left_section">
            	<h1>Categories</h1>
                <ul>
                    <li><a href="#">Novel</a></li>
                    <li><a href="#">Pendidikan</a></li>
                    <li><a href="#">Kamus</a></li>
                    <li><a href="#">Ensiklopedia</a></li>
                    <li><a href="#">Ilmiah</a></li>
                    <li><a href="#">Antologi</a></li>
                    <li><a href="#">Dongeng</a></li>
                    <li><a href="#">Biografi</a></li>
                    <li><a href="#">Karya Ilmiah</a></li>
            	</ul>
          </div>
		  <div class="menu_left_section">
            	<h1>Bestsellers</h1>
                <ul>
                    <li><a href="#">Ratu Pantai Selatan</a></li>
                    <li><a href="#">Kamus Bahasa Inggris</a></li>
                    <li><a href="#">Gardening</a></li>
                    <li><a href="#">The Spongebob</a></li>
                    <li><a href="#">Crabypatty Recipe</a></li>
                    <li><a href="#">Pendekar Rajawali</a></li>
                    <li><a href="#">Langit Biru</a></li>
                    <li><a href="#">Tentang Kamu</a></li>
                    <li><a href="#">Engineer</a></li>
                    <li><a href="#" target="_parent">Cara Mengatasi Stress</a></li>
            	</ul>
            </div> 
	</div>
		 <div id="menu_right">
        	<div class="templatemo_product_box">
            	<h1>Photography  <span>(by Best Author)</span></h1>
   	      <img src="images/templatemo_image_01.jpg" alt="image" />
                <div class="product_info">
               	  <p>Etiam luctus. Quisque facilisis suscipit elit. Curabitur...</p>
                  <h3>6 buku</h3>
                    <div class="pinjam_button"><a href="#">Pinjam</a></div>
                    <div class="detail_button"><a href="#">Detail</a></div>
                </div>
                <div class="cleaner">&nbsp;</div>
            </div>
            
            <div class="cleaner_with_width">&nbsp;</div>
            
            <div class="templatemo_product_box">
            	<h1>Cooking  <span>(by New Author)</span></h1>
       	    <img src="images/templatemo_image_02.jpg" alt="image" />
                <div class="product_info">
                	<p>Aliquam a dui, ac magna quis est eleifend dictum.</p>
                    <h3>4 buku</h3>
                    <div class="pinjam_button"><a href="#">Pinjam</a></div>
                    <div class="detail_button"><a href="#">Detail</a></div>
                </div>
                <div class="cleaner">&nbsp;</div>
            </div>
            
            <div class="cleaner_with_height">&nbsp;</div>
            
            <div class="templatemo_product_box">
            	<h1>Gardening <span>(by Famous Author)</span></h1>
   	      <img src="images/templatemo_image_03.jpg" alt="image" />
                <div class="product_info">
                	<p>Ut fringilla enim sed turpis. Sed justo dolor, convallis at.</p>
                    <h3>10 buku</h3>
                    <div class="pinjam_button"><a href="#">Pinjam</a></div>
                    <div class="detail_button"><a href="#">Detail</a></div>
                </div>
                <div class="cleaner">&nbsp;</div>
            </div>
            
            <div class="cleaner_with_width">&nbsp;</div>
            
        <div class="templatemo_product_box">
            	<h1>Sushi Book  <span>(by Japanese Name)</span></h1>
           	  <img src="images/templatemo_image_04.jpg" alt="image" />
                <div class="product_info">
                	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                    <h3>5 buku</h3>
                    <div class="pinjam_button"><a href="#">Pinjam</a></div>
                    <div class="detail_button"><a href="#">Detail</a></div>
                </div>
                <div class="cleaner">&nbsp;</div>
          </div>
<a href="#"></a>
        </div> 

	
</body>
</html>
