<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Book Store Template, Free CSS Template, CSS Website Layout</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="templatemo_style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<!--  Free CSS Templates from www.templatemo.com -->
<div id="templatemo_container">
	<div id="templatemo_menu">
    	<ul>
            <li><a href="index.html" class="current">Home</a></li>
            <li><a href="subpage.html">Katalog buku</a></li>
            <li><a href="subpage.html">Peminjaman buku</a></li>            
            <li><a href="subpage.html">Pengembalian</a></li>
			<li><a href="subpage.html">Peminjaman ruangan</a></li>  
            <li><a href="#">Help</a></li> 
			<li><a href="v_login.html">Login</a></li> 
			<li><a href="v_regist.html">Sign up</a></li> 
    	</ul>
    </div> <!-- end of menu -->
    
  <div id="templatemo_header">
	  <div id="sipero">
			
		</div>
        </div>
    </div> <!-- end of header -->
    
    <div id="templatemo_content">
    	
        <div id="templatemo_content_left">
        	<div class="templatemo_content_left_section">
            	<h1>Categories</h1>
                <ul>
                    <li><a href="subpage.html">Novel</a></li>
                    <li><a href="subpage.html">Pendidikan</a></li>
                    <li><a href="#">Kamus</a></li>
                    <li><a href="#">Ensiklopedia</a></li>
                    <li><a href="#">Ilmiah</a></li>
                    <li><a href="#">Antologi</a></li>
                    <li><a href="#">Dongeng</a></li>
                    <li><a href="#">Biografi</a></li>
                    <li><a href="#">Karya Ilmiaah</a></li>
            	</ul>
          </div>
		  <div class="templatemo_content_left_section">
            	<h1>Bestsellers</h1>
                <ul>
                    <li><a href="#">Ratu Pantai Selatan</a></li>
                    <li><a href="#">Kamus Bahasa Inggris</a></li>
                    <li><a href="#">Gardening</a></li>
                    <li><a href="#">The Spongebob</a></li>
                    <li><a href="#">Crabypatty Recipe</a></li>
                    <li><a href="#">Pendekar Rajawali</a></li>
                    <li><a href="#">Langit Biru</a></li>
                    <li><a href="#">Tentang Kamu</a></li>
                    <li><a href="#">Engineer</a></li>
                    <li><a href="http://www.photovaco.com" target="_parent">Cara Mengatasi Stress</a></li>
            	</ul>
            </div>
</div> <!-- end of content left -->
        
        <div id="templatemo_content_right">
        	<div class="templatemo_product_box">
            	<h1>Photography  <span>(by Best Author)</span></h1>
   	      <img src="images/templatemo_image_01.jpg" alt="image" />
                <div class="product_info">
               	  <p>Etiam luctus. Quisque facilisis suscipit elit. Curabitur...</p>
                  <h3>6 buku</h3>
                    <div class="buy_now_button"><a href="subpage.html">Pinjam</a></div>
                    <div class="detail_button"><a href="subpage.html">Detail</a></div>
                </div>
                <div class="cleaner">&nbsp;</div>
            </div>
            
            <div class="cleaner_with_width">&nbsp;</div>
            
            <div class="templatemo_product_box">
            	<h1>Cooking  <span>(by New Author)</span></h1>
       	    <img src="images/templatemo_image_02.jpg" alt="image" />
                <div class="product_info">
                	<p>Aliquam a dui, ac magna quis est eleifend dictum.</p>
                    <h3>4 buku</h3>
                    <div class="buy_now_button"><a href="subpage.html">Pinjam</a></div>
                    <div class="detail_button"><a href="subpage.html">Detail</a></div>
                </div>
                <div class="cleaner">&nbsp;</div>
            </div>
            
            <div class="cleaner_with_height">&nbsp;</div>
            
            <div class="templatemo_product_box">
            	<h1>Gardening <span>(by Famous Author)</span></h1>
   	      <img src="images/templatemo_image_03.jpg" alt="image" />
                <div class="product_info">
                	<p>Ut fringilla enim sed turpis. Sed justo dolor, convallis at.</p>
                    <h3>10 buku</h3>
                    <div class="buy_now_button"><a href="subpage.html">Pinjam</a></div>
                    <div class="detail_button"><a href="subpage.html">Detail</a></div>
                </div>
                <div class="cleaner">&nbsp;</div>
            </div>
            
            <div class="cleaner_with_width">&nbsp;</div>
            
            <div class="templatemo_product_box">
            	<h1>Sushi Book  <span>(by Japanese Name)</span></h1>
           	  <img src="images/templatemo_image_04.jpg" alt="image" />
                <div class="product_info">
                	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                    <h3>5 buku</h3>
                    <div class="buy_now_button"><a href="subpage.html">Pinjam</a></div>
                    <div class="detail_button"><a href="subpage.html">Detail</a></div>
                </div>
                <div class="cleaner">&nbsp;</div>
            </div>
            
            <div class="cleaner_with_height">&nbsp;</div>
            
            <a href="subpage.html"></a>
        </div> <!-- end of content right -->
    
    	<div class="cleaner_with_height">&nbsp;</div>
    </div> <!-- end of content -->
    
<!-- end of footer -->
<!--  Free CSS Template www.templatemo.com -->
</div> <!-- end of container -->
<!-- templatemo 086 book store -->
<!-- 
Book Store Template 
http://www.templatemo.com/preview/templatemo_086_book_store 
-->
</body>
</html>