<html>
    <head>
        <title>Log In</title>
        <link rel="stylesheet" type="text/css" href="css/css_login.css">
    </head>
    <body>
        <div class="logo">
            <img src="image/logo2.png">
        </div>
        <header>
            <div class="top">
                <h1>LOG IN</h1>
            </div>            
            <form class="login">
                <p>Username</p>
                <input type='text' name='Username' placeholder="Enter Username">
                <p>Password</p>
                <input type="password" name="Password" placeholder="Enter Password">
                <input type="submit" name="loginbtn" value="Log In">
            </form>
            <div class="home">
                <a href="v_home.html" class="button">Home</a>
            </div>
        </header>
    </body>
</html>