<html>
    <link rel="stylesheet" href="/css/styling.css">
    <head><font size='5' face='Adobe Hebrew'>LOG IN</font></head>
    <form><font size='3' face='Adobe Hebrew'>
        <table>
            <tr>
                <td>Username</td>
                <td>:</td>
                <td><input type='text' name='Username'><br></td>
            </tr>
            <tr>
                <td>Password</td>
                <td>:</td>
                <td><input type="password" name="Password"></td>
            </tr>
        </table>
    </font>
    </form>
</html>