<html>
    <head>
        <title>Log In</title>
        <link rel="stylesheet" type="text/css" href="css/css_login.css">
    </head>
    <body>
        <header>
            <div class="top">
                <h1>LOG IN</h1>
            </div>            
            <form class="login">
                <p>Username</p>
                <input type='text' name='Username' placeholder="Enter Username">
                <p>Password</p>
                <input type="password" name="Password" placeholder="Enter Password">
                <input type="submit" name="login btn" value="Log In">
            </form>
        </header>
    </body>
</html>