<html>
    <head><font size='5' face='Adobe Hebrew'>Registrasi</font></head>
    <form><font size='3' face='Adobe Hebrew'>
        <table>
            <tr>
                <td>Nama</td>
                <td>:</td>
                <td><input type="text" name="Nama"></td>
            </tr>

            <tr>
                <td>Username</td>
                <td>:</td>
                <td><input type="text" name="Username"></td>
            </tr>
            <tr>
                <td>Password</td>
                <td>:</td>
                <td><input type="password" name="Password"></td>
            </tr>
            <tr>
                <td>Confirm Password</td>
                <td>:</td>
                <td><input type="password" name="Confirm Pass"></td>
            </tr>
        </table>
    </font></form>
</html>