<html>
    <head>Registrasi
        <title>Registrasi</title>
        <link rel="stylesheet" type="text/css" href="css/css_regist.css">
    </head>
    <body>
        <header>
            <div class="top">
                <h1>REGISTRASI</h1>
            </div>
            <form>
                <p>Name</p>
                <input type="text" name="nama" placeholder="Enter Name">
                <p>NIK</p>
                <input type="text" name="nik" placeholder="Enter NIK">
                <p>Username</p>
                <input type="text" name="username" placeholder="Enter Username">
                <p>Password</p>
                <input type="password" name="password" placeholder="Enter Password">
                <p>Confirm Password</p>
                <input type="password" name="confirmpwd" placeholder="Confirm Password">
                <input type="submit" name="submitreg" class="regist" value="Submit">
            </form>
            <div class="home">
                <a href="v_home.html" class="button">Home</a>
            </div>
        </header>
    </body>
</html>