<html>
    <link rel="stylesheet" href="/css/styling.css">
    <head><font size='5' face='Adobe Hebrew' class="regist">Registrasi</font></head>
    <form><font size='3' face='Adobe Hebrew' class="regist">
        <table class="regits regist">
            <tr>
                <td>Nama</td>
                <td>:</td>
                <td><input type="text" name="Nama"></td>
            </tr>
            <tr>
                <td>NIK</td>
                <td>:</td>
                <td><input type="number" name="NIK"></td>
            </tr>
            <tr>
                <td>Username</td>
                <td>:</td>
                <td><input type="text" name="Username"></td>
            </tr>
            <tr>
                <td>Password</td>
                <td>:</td>
                <td><input type="password" name="Password"></td>
            </tr>
            <tr>
                <td>Confirm Password</td>
                <td>:</td>
                <td><input type="password" name="Confirm Pass"></td>
            </tr>
            <tr>
                <td><input name="regist-submit" type="submit" class="regist"></td>
            </tr>
        </table>
    </font></form>
</html>