<html>
    <head>
        <title>SIPERO</title>
        <link rel="stylesheet" type="text/css" href="css/Styling.css">
    </head>
    <body>
        <header>
            <div class="heading">
                <div class="logo">
                    <img src="image/logo2.png">
                </div>
                <ul>
                    <li class="act"><a href="#">Home</a></li>
                    <li><a href="#">Katalog Buku</a></li>
                    <li><a href="#">Peminjaman Buku</a></li>
                    <li><a href="#">Pengembalian</a></li>
                    <li><a href="#">Peminjaman Ruangan</a></li>
                    <li><a href="#">Help</a></li>
                </ul>
            </div>
            <div class="middle">
                <h1>PINJAM BUKU SEKARANG</h1>
            </div>
            <div class="btn">
                <a href="#" class="button">Log In</a>
                <a href="#" class="button">Buat Akun</a>
            </div>
        </header>
    </body>
</html>